[Desktop Entry]
Name=Calculator
Comment=Walker calculator
Exec=walker -m calc
Icon=accessories-calculator
Type=Application
Categories=Utility;Calculator;
Keywords=calc;calculator;math;
