[Desktop Entry]
Name=TNS Desktop (1512)
Exec=chromium --class=tns-desktop --user-data-dir=/home/lukesh/.config/chromium-tns-desktop --new-window http://tns.local
Icon=chromium
Type=Application
Categories=Development;
StartupWMClass=tns-desktop
