[Desktop Entry]
Name=YouTube Music
Exec=chromium --remote-debugging-port=9223 --app=https://music.youtube.com --class=youtube-music --user-data-dir=/home/lukesh/.config/chromium-ytmusic
Icon=chromium
Type=Application
Categories=AudioVideo;
StartupWMClass=youtube-music
